@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
:root {
  --darkgray: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
  --grey: hsl(0, 0%, 20%);
  --white: hsl(0, 0%, 100%);
  --green: hsl(75, 94%, 57%);
}

body {
  background-color: var(--off-black);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  background-color: var(--darkgray);
  margin: auto;
  width: 24rem;
  border-radius: 1rem;
}

p {
  text-align: center;
}

img {
  border-radius: 50%;
  margin: 1rem 0;
  width: 5rem;
}

.highlight {
  color: var(--green);
  margin-bottom: 1.5rem;
  padding-top: 1rem;
  font-weight: bold;
}

#links {
  text-align: center;
  padding: 0.5rem 0rem 1rem;
}

#links > a > p {
  background-color: var(--grey);
  padding: 0.85rem;
  border-radius: 7px;
  cursor: pointer;
  width: 80%;
  margin: 1rem auto;
}

#presentation {
  text-align: center;
  align-items: center;
  margin-top: 2rem;
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
}

#links > a > p:hover {
  background-color: var(--green);
  transition: 0.5s;
  color: black;
}
